<% @pa.each do |row| %>
    <p><%= row %></p>
<% end %>

<br><br><br>

<p>
  <a href="/events?page=<%= @pa.prev_page %>">предыдущая страница</a>
  <a href="/events?page=<%= @pa.next_page %>">следующая страница</a>
</p>