<% @pa.each do |row| %>
    <p><%= row %></p>
<% end %>

<br><br><br>
<p>
  <%= @pa.count %>
</p>

<p>
  <% unless @pa.first_page? %>
    <a href="/events?page=<%= @pa.prev_page %>">предыдущая страница</a>
  <% end %>
  <% unless @pa.last_page? %>
      <a href="/events?page=<%= @pa.next_page %>">следующая страница</a>
  <% end %>
</p>